[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
djangorestframework = "*"

[dev-packages]
rope = "*"
ipython = "*"
django-extensions = "*"
django-debug-toolbar = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true